{% extends 'base.html' %}

{% block title %}Magazine Site{% endblock %}

{% block content %}
    {% if data %}
    <h1>{{data.name}} Logged in</h1>
    {% if type %}
        <p>Type: {{type}}</p>
    {% endif %}
    <button><a href="{{url_for('logout')}}">Logout</a></button>
    {% else %}
    <h1>Anonymous</h1>
    <button><a href="{{url_for('login_user')}}">User login</a></button>
    <button><a href="{{url_for('login_author')}}">Author login</a></button>
    <button><a href="{{url_for('register_user')}}">User register</a></button>
    <button><a href="{{url_for('register_author')}}">Author register</a></button>
    {% endif %}
{% endblock %}
